* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background: #fafafa;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	transition: background-color 0.2s linear;
}
body.dark {
	background: #333;
	color: white;
}

a {
	text-decoration: none;
}
a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}
h1,
h3,
h4,
h5,
h6 {
	font-family: "Hammersmith One", sans-serif;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-family: "Breaking Road", sans-serif;
	font-size: 3.5rem;
}
h3 {
	font-family: "Breaking Road", sans-serif;
	font-size: 2.5rem;
}
hr {
	width: 15%;
	margin-bottom: 2rem;
}
/* Light&Dark Toggle */
.toggle-button {
	position: absolute;
	top: 2.55rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
.toggle {
	padding: 10px;
	background: #333;
	width: 100%;
	display: inline-block;
}
.label {
	background: rgb(142, 141, 141);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
}

.label .ball {
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transition: transform 0.2s linear;
}

.checkbox {
	position: fixed;
	display: none;
	margin: 5px;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

/* Nav */
.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	width: 100vw;
	min-height: 100px;
}

.navbar-links {
	height: 100%;
	text-align: center;
}

.navbar-links ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	margin: 1.5rem;
}

.navbar-links li:hover {
	opacity: 0.7;
}

@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links ul li {
		text-align: center;
	}

	.navbar-links ul li a {
		padding: 0.5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}
/* Header  */
.container {
	max-width: 400px;
	width: 100%;
	height: 200px;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
}
.container-two {
	display: inline;
	position: absolute;
	top: 0;
	z-index: -2;
}
.container-two img {
	width: 75px;
}
.box {
	max-width: 95%;
	height: 100%;
	position: absolute;
}

.box h1 {
	font-size: 2.3rem;
}
.box h2 {
	font-size: 2rem;
	max-width: 80%;
}

.overlay {
	max-width: 60%;
	z-index: 9;
	margin-left: 12rem;
	padding: 2rem;
	opacity: 0.3;
}

.box.overlay img {
	width: 150px;
	display: flex;
}

@media screen and (min-width: 520px) {
	.container {
		min-width: 520px;
		height: 300px;
		padding-top: 2rem;
	}
	.box {
		width: 100%;
		display: inline-block;
	}
	.box h1 {
		font-size: 4rem;
		/* margin-left: 2rem; */
	}
	.box.overlay h2 {
		font-size: 3.5rem;
		max-width: 60%;
		margin-bottom: 2.5rem;
		padding: 0.5rem;
	}
	.box.overlay {
		position: relative;
		padding: 2.8rem;
		margin-left: 16rem;
	}
}

@media screen and (min-width: 700px) {
	.container-two img {
		height: 200px;
		width: 200px;
		margin-left: 32.5rem;
		margin-top: 10rem;
	}
}

/* Wrapper */

.wrapper {
	/* padding: 2rem 0 1.5rem 0; */
	background: #dbd9d9;
	padding: 2.5rem;
}

.wrapper h1 {
	text-align: center;
}
.wrapper1 {
	font-size: 1rem;
}
/* Main */

.column {
	display: block;
	padding: 1rem;
}

.column img {
	display: block;
	max-width: 350px;
	border-radius: 5px;
	margin: auto;
	padding-top: 2.5rem;
}

.column > p {
	font-weight: bold;
}
.column > p,
.span {
	display: block;
	text-align: center;
	margin: auto;
	padding: 0.5rem 0;
}
@media screen and (min-width: 800px) {
	.row {
		display: flex;
		gap: 5px;
	}
	.column {
		flex: 33.33%;
		padding: 5px;
	}
	.column img {
		max-width: 100%;
		border-radius: 5px;
		margin: auto;
	}
	.column {
		max-width: 100%;
	}
}
/* About Section*/
.banner h3 {
	text-align: center;
}
.about {
	text-align: center;
}
.about p {
	text-align: center;
}
#about > img {
	width: 70%;
}
@media screen and (min-width: 800px) {
	.banner {
		padding-top: 3rem;
	}
	.banner h3 {
		font-size: 3rem;
	}
	#about {
		display: flex;
		flex: 50%;
	}

	.about > p {
		text-align: start;
		margin-left: 2rem;
	}
	#about > img {
		padding: 1rem;
		margin-right: 1rem;
		border-radius: 5px;
		width: 50%;
	}
}
/* Services Section */
.services h4,
p {
	text-align: center;
	margin: 1rem 2rem;
}

@media screen and (min-width: 800px) {
	/* .flex {
		display: flex;
		text-align: center;
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		max-width: 25%;
		align-items: center;
		text-align: center;
	}*/
	.services > p {
		max-width: 600px;
		margin: auto;
	}
}

/* Footer | Contact Section */

#contact h3,
h2 {
	text-align: center;
}
#contact h2 {
	font-size: 1rem;
	text-align: center;
}
#contact span {
	text-align: center;
}

.form {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: auto;
}

.form > input {
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}
.form > button {
	width: 50px;
	margin: auto;
	padding: 0.25rem 0.5rem;
	margin-top: 1rem;
	font-family: "Open Sans", sans-serif;
	border-radius: 5px;
}

textarea {
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
	border: 2px solid black;
}
.copyright {
	padding-top: 3rem;
	opacity: 0.7;
	font-size: 0.75rem;
	padding-bottom: 2rem;
}

@media screen and (min-width: 800px) {
	.footer {
		display: flex;
		flex: 50%;
	}
	.footer h3,
	h2 {
		font-size: 3rem;
		margin-left: 10rem;
	}
	.form {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 200px;
		margin: auto;
	}

	.form > input {
		margin-top: 1rem;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.2);
		font-family: "Open Sans", sans-serif;
	}
	.form > button {
		width: 50px;
		margin: auto;
		padding: 0.25rem 0.5rem;
		margin-top: 1rem;
		font-family: "Open Sans", sans-serif;
	}
	.copyright {
		padding-top: 3rem;
		opacity: 0.7;
		font-size: 0.75rem;
		padding-bottom: 2rem;
	}
}
/* Photo Gallery */

#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
	padding: 15px;
	margin-bottom: 12rem;
}
#gallery img {
	width: 100%;
	display: block;
	transition: all 100ms ease-out;
	border-radius: 5px;
}
#gallery img:hover {
	transform: scale(1.04);
}

/* Sample Menus */

#sample {
	text-align: center;
	margin: 4rem;
}
